<form action="/tasks" method="POST">
  <p>Enter a new task:</p>
  <input id="task-title" type="text" name="task[title]"/><br>
  <textarea id="task-description" name="task[description]"></textarea><br>
  <input type="submit" value="Submit" />
</form>
